/target
/dist
Cargo.lock
/data/*.csv
/data/*.vot
/data/*.toml
/data/*.parquet

tmp/

end2end/playwright-report
end2end/test-results

# Infrastructure - Tofu/Terraform
.terraform.lock.hcl
infrastructure/tofu/.terraform/
infrastructure/tofu/*.tfstate
infrastructure/tofu/*.tfstate.backup
infrastructure/tofu/terraform.tfvars
# in case...
*.tfstate

# Infrastructure - Ansible
infrastructure/ansible/.env
infrastructure/ansible/*.retry
infrastructure/ansible/**/*.retry
infrastructure/ansible/.vault_pass
infrastructure/ansible/inventory/*.local.yml
infrastructure/ansible/inventory/group_vars/*.local.yml
