/target
/dist
Cargo.lock
/data/*.csv
/data/*.vot
/data/*.toml
/data/*.parquet

tmp/

end2end/playwright-report
end2end/test-results

# Infrastructure
.terraform.lock.hcl
infrastructure/tofu/.terraform/
infrastructure/tofu/*.tfstate
infrastructure/tofu/*.tfstate.backup
infrastructure/tofu/terraform.tfvars
# in case...
*.tfstate
