/target
/dist
/target-mdbook
/data/*.csv
/data/*.vot
/data/*.toml
/data/*.parquet
.crush/

tmp/

end2end/playwright-report
end2end/test-results
end2end/node_modules/
end2end/runtime-data/

# Infrastructure - Tofu/Terraform
.terraform.lock.hcl
infrastructure/tofu/.terraform/
infrastructure/tofu/*.tfstate
infrastructure/tofu/*.tfstate.backup
infrastructure/tofu/terraform.tfvars
# in case...
*.tfstate

# Infrastructure - Ansible
infrastructure/ansible/.env
infrastructure/ansible/*.retry
infrastructure/ansible/**/*.retry
infrastructure/ansible/.vault_pass
infrastructure/ansible/inventory/*.local.yml
infrastructure/ansible/inventory/group_vars/*.local.yml
infrastructure/ansible/inventory/group_vars/leptos_env.yml

# misc
.DS_Store
.crush.json
